<div>
  <!-- <div id="pokedex" class="fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-full z-40">
  <div class="relative w-screen h-[300px]">
    <img class="pokedex-cover-top" src="./assets/pokedex_cover_top.png">
    <img class="pokedex-cover-bottom" src="./assets/pokedex_cover_bottom.png">
    <img class="pokedex-dpad" src="./assets/pokedex_dpad.png">
  </div>
  </div> -->
  <div class="container p-5">
    <div class="flex flex-row flex-wrap justify-between">
        @for (item of data; track $index) {
          <img [id]="$index+1" class="sprite z-10" width="85" [src]="item['sprites']['versions']['generation-vii']['icons']['front_default']">
          @if([86].includes($index+1)){
            @for (item of [].constructor(8); track $index) {
              <div class="w-[60px]"></div>
            }
          } @else if([96, 106].includes($index+1)){
            <div class="w-1/2"></div>
          } 
        }
    </div>
    <div>
      <div id="pokedex" class="fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-full">
        <img class="z-0 fixed w-[65%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]" src="./assets/diamond_cover.png">
        <img class="z-0 fixed w-[65%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]" src="./assets/cw_pokedex.png">
      </div>
    </div>
  </div>
</div>